body  {
    background-color: bisque;
    background-image: url(./power.1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
}
h1{
    margin-left:600px ;
    font-size: xxx-large;
}
.center{
    display: block;
    margin-left: 630px;
    margin-top: 10px;
    
}
input {
    font-size: large;
    font-style: normal;
    margin-top: 40px;
    margin-left: 650px;
    cursor: pointer;
button {
    background-color: aqua;
}

}
}
div {
    margin-left: 600px;
    font-size: x-large;
    color: black;
}